.flexWrap1000{
    display: flex;
    flex-wrap: nowrap;
}
.mapContainer{
    width: 100%;
    height: 300px;
}
.bottomCraphContainer{
    width: 100vw;
    height: 36.5vh;
    display: flex;
    flex-direction: row;
}
.windVsRainGraph {
    border-top: 1px solid grey;
    padding: 1.25rem;
    width: 50vw;
}
.windDirectionGraph{
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    padding: 1.25rem;
    width: 50vw;
}
.beachInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem/* 80px */;
}

@media (max-width: 1500px) {
    .flexWrap1000{
        flex-wrap: wrap;
    }
    .bottomCraphContainer{
        height: 100vh;
        flex-direction: column;
    }
    .windVsRainGraph {
        height: 50vh;
        width: 100vw;
    }
    .windDirectionGraph{
        border-left: 0;
        height: 50vh;
        width: 100vw;
    }
    .beachInfoContainer{
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .beachInfoContainer{
        gap: 1rem;
    }
}

.textList li{
    white-space: nowrap;
}

.textList ul {
    list-style-type: none;
    padding: 0;
}

.textList li {
    margin-bottom: 10px;
    position: relative;
}

.square {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    top: 4px;
    left: -20px; /* Adjust the positioning as needed */
}

.star {
    color: #f1c40f;
    font-size: 18px;
    margin-right: 3px;
}

.starRed {
    color: #dbdbdb;
    font-size: 18px;
    margin-right: 3px;
}

